{% extends 'orders/header.html' %} {% block content %}
<div class="container-fluid">
    <div class="content my-3 px-2">
        <div class="card shadow rounded-0">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3><u>Our Contact Details</u></h3>
                </div>
                <div class="row justify-content-center">
                    <p>Our Telephone is 256-7566-1190</p>
                </div>
                <div class="row justify-content-center">
                    <p>Email us @ <a href="mailto:info@porqué's.com">info@porqué's.com</a></p>
                </div>
                <div class="row justify-content-center">
                    <p>You Find us on Twitter @Por Qué's</p>
                </div>
                <div class="row justify-content-center">
                    <p>And on Instagram @Por Qué's</p>
                </div>
                <div class="row justify-content-center">
                    <p>© 2023 Por Qué's. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}