{% extends 'orders/header.html' %} {% block content %}
<div class="container">
    <div class="content my-3">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="row justify-content-center" style="margin-top:20px;">
                    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Lugogo,%20Oasis%20Mall,%20Nakawa,%20Victoria%20Mall,%20Kampala,%20Uganda%20(Por%20Que%27s)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="600" height="450" frameborder="0" style="border:0;"
                        allowfullscreen=""></iframe>

                </div>
                <div class="row justify-content-center" style="margin-top:20px;">

                    <ul>
                        <h2><a class="navbar-brand" style="font-family:verdana" >LOCATIONS</a></h2>
                        <h5><a class="navbar-brand" style="font-family: sans-serif">Kampala</a></h5>
                        <a>Lugogo, Oasis mall, Nakawa</a>
                        <h5><a class="navbar-brand" style="font-family: sans-serif">Entebbe</a></h5>
                        <a>Victoria Mall</a>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}