{% extends 'orders/header.html' %} {% block content %}
<div class="container">
  <div class="content my-3">
    <div class="card rounded-0 shadow">
      <div class="card-body">
        <div class="row justify-content-center">
          <h3>Our Shop Hours</h3>
        </div>
        <div class="row justify-content-center">
          <p>Saturday-Sunday 10AM - 3AM</p>
        </div>
        <div class="row justify-content-center">
          <p>Monday - Friday 6AM - 3PM</p>
        </div>

        <hr />
        <div class="row justify-content-center">
          <div class="col-12">
            <p>
              Por Qué's is open from Monday to Friday, with operating hours of
              6:00 AM to 3:00 AM the following day, providing customers with the
              option to dine in or order takeout for breakfast, lunch, dinner,
              and late-night meals. On weekends (Saturday and Sunday), Por Qués
              opens at 10:00 AM and closes at 3:00 AM the following day,
              allowing customers to enjoy their weekend brunch, lunch, dinner,
              and late-night cravings. Por Qué's provides extended hours of
              service, catering to customers with varying schedules and
              preferences.
            </p>
            <p>
              Thank you for choosing Por Qué's, and we look forward to seeing
              you soon!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
